.markdown-body pre {
  background-color: darkorchid !important;
}

.markdown-body {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/* Neon text */
.markdown-body a {
    color: #fff;
    font-size: 1.47em;
    font-family: "Vibur", sans-serif;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #f09,
      0 0 21px #f09,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
}
