@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 54em;
  color: black;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #333;
}
pre {
  color: #1111111;
  padding: 0.5em;
}
code {
  font-family: monospace;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
  color: #7a5ada;
}
h1, h2, h3, h4, h5 {
  font-family: "Space Mono Bold", monospace;
  font-weight: bold;
  color: #666;
}
h1 {
  font-size: 130%;
}

/* insert # before each header to make it a link */
h2:before, h3:before, h4:before, h5:before {
  content: "#";
  margin-right: 0.5em;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 95%;
}

h4 {
  font-size: 90%;
  font-style: italic;
}

h5 {
  font-size: 90%;
  font-style: italic;
}

h1.title {
  font-size: 170%;
  font-weight: bold;
  padding-top: 0.2em;
  text-align: left;
  border: none;
  color: #666;
}

dt code {
  font-weight: bold;
}
dd p {
  margin-top: 0;
}

body img {
  max-width: 100%;
}

#footer {
  padding-top: 1em;
  font-size: 70%;
  color: gray;
  text-align: center;
}
