:root {
  --color-background: #31037d;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
  --font-name: Righteous; }

html,
body {
  font-size: 20px;
  font-family: var(--font-name); }

body {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-name);
  height: 100vh; }

.c-rainbow {
  counter-reset: rainbow;
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }

.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
  animation: rainbow 1.5s ease-in-out infinite; }

.c-rainbow__layer:nth-child(1) {
  animation-delay: calc(1 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 1);
  z-index: -10; }

.c-rainbow__layer:nth-child(2) {
  animation-delay: calc(2 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 2);
  z-index: -20; }

.c-rainbow__layer:nth-child(3) {
  animation-delay: calc(3 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 3);
  z-index: -30; }

.c-rainbow__layer:nth-child(4) {
  animation-delay: calc(4 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 4);
  z-index: -40; }

.c-rainbow__layer:nth-child(5) {
  animation-delay: calc(5 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 5);
  z-index: -50; }

.c-rainbow__layer:nth-child(6) {
  animation-delay: calc(6 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 6);
  z-index: -60; }

.c-rainbow__layer:nth-child(7) {
  animation-delay: calc(7 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 7);
  z-index: -70; }

.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0; }

.c-rainbow__layer--white {
  --text-color: var(--color-white); }

.c-rainbow__layer--orange {
  --text-color: var(--color-orange); }

.c-rainbow__layer--red {
  --text-color: var(--color-red); }

.c-rainbow__layer--violet {
  --text-color: var(--color-violet); }

.c-rainbow__layer--blue {
  --text-color: var(--color-blue); }

.c-rainbow__layer--green {
  --text-color: var(--color-green); }

.c-rainbow__layer--yellow {
  --text-color: var(--color-yellow); }

@keyframes rainbow {
  0%,
  100% {
    transform: translatey(var(--axis-y)); }
  50% {
    transform: translatey(calc(var(--axis-y) * -1)); } }

/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 12px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 12px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

:root {
  --color-background: #31037d;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
  --font-name: Righteous; }

html,
body {
  font-size: 20px;
  font-family: var(--font-name); }

body {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-name);
  height: 100vh; }

.c-rainbow {
  counter-reset: rainbow;
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }

.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
  animation: rainbow 1.5s ease-in-out infinite; }

.c-rainbow__layer:nth-child(1) {
  animation-delay: calc(1 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 1);
  z-index: -10; }

.c-rainbow__layer:nth-child(2) {
  animation-delay: calc(2 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 2);
  z-index: -20; }

.c-rainbow__layer:nth-child(3) {
  animation-delay: calc(3 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 3);
  z-index: -30; }

.c-rainbow__layer:nth-child(4) {
  animation-delay: calc(4 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 4);
  z-index: -40; }

.c-rainbow__layer:nth-child(5) {
  animation-delay: calc(5 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 5);
  z-index: -50; }

.c-rainbow__layer:nth-child(6) {
  animation-delay: calc(6 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 6);
  z-index: -60; }

.c-rainbow__layer:nth-child(7) {
  animation-delay: calc(7 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 7);
  z-index: -70; }

.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0; }

.c-rainbow__layer--white {
  --text-color: var(--color-white); }

.c-rainbow__layer--orange {
  --text-color: var(--color-orange); }

.c-rainbow__layer--red {
  --text-color: var(--color-red); }

.c-rainbow__layer--violet {
  --text-color: var(--color-violet); }

.c-rainbow__layer--blue {
  --text-color: var(--color-blue); }

.c-rainbow__layer--green {
  --text-color: var(--color-green); }

.c-rainbow__layer--yellow {
  --text-color: var(--color-yellow); }

@keyframes rainbow {
  0%,
  100% {
    transform: translatey(var(--axis-y)); }
  50% {
    transform: translatey(calc(var(--axis-y) * -1)); } }

/* Theme */
main {
  color: #FAFAFA; }

.icons-social a {
  color: #FAFAFA; }

.icons-social a svg path {
  fill: #FAFAFA; }

/* Typography */
@media (min-width: 576px) {
  html {
    font-size: 14px; } }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

@media (min-width: 992px) {
  html {
    font-size: 18px; } }

@media (min-width: 1200px) {
  html {
    font-size: 20px; } }

.icons-social i {
  font-size: 3em; }

/* Custom Styles */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px; }

main > .intro {
  font-size: 3.75em;
  font-weight: 600; }

main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100; }

.icons-social i {
  padding: 10px; }

.devto {
  margin-bottom: -0.20rem; }

.devto svg {
  margin-bottom: -0.20rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem; }

/* Theme */
main {
  color: #FAFAFA; }

.icons-social a {
  color: #FAFAFA; }

.icons-social a svg path {
  fill: #FAFAFA; }
